@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Vaya a productos <a href="/Productos/"> aqui en /Productos/.</a></p>
    <p>Vaya a la api de json <a href="/api/Producto/"> aqui en /api/Producto/.</a> Tambien puede usar Postman.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
